@font-face {
  font-family: 'Grotex';
  src: url('./fonts/Grotex-Regular.otf') format('opentype');
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Grotex', Arial, sans-serif;
  box-sizing: border-box;
  font-size: 2.6vw;
  letter-spacing: 0.09vw;
  line-height: 3vw;
}
.ts{
  font-size: 1.73vw;
  letter-spacing: 0.045vw;
  line-height: 2vw;
}
#left-block, #right-block{
  display: inline-block;
  float: left;
}
#left-block{
  height: 100vh;
  width: 70vw;
  padding: 1vw 1vw 15vw 1vw;
  background: #DCDDDE;
  border-right: 0.3vw solid #000;
  overflow-y: scroll;
}
.intro{
  margin-bottom: 15vw;
}
.bm{
  margin-bottom: 2.5vw;
}
.folio-list{
  width: 70%;
}
.c-link, .c-link-hov{
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 0 0 #DCDDDE, -2px 0 0 #DCDDDE;
  background-image: linear-gradient( to right, currentColor 0%, currentColor 100% );
  background-repeat: repeat-x;
  background-position: 0px 88%;
  -webkit-background-size: 100% 1px;
  background-size: 100% 2px;
}
.c-link-hov{
  cursor: pointer;
}
.c-link-hov:hover{
  background-image: none;
}
.title-arrow{
  display: inline-block;
  margin-left: 0.6vw;
  font-size: 2vw;
}
#contact-button{
  position: fixed;
  bottom: 0;
  width: 69.7vw;
  background-color: #000;
  height: 4vw;
  color: #fff;
  cursor: pointer;
}
#contact-button p{
  text-align: center;
  top: 2vw;
  position: relative;
  transform: translateY(-50%);
}
#contact-button:hover{
  background-color: #fff;
  color: #000;
}
#read-on{
  cursor: pointer;
}


#right-block{
  height: 100vh;
  width: 30vw;
  background: #2AFD82;
  overflow-y: scroll;
}
ol{
  list-style: none;
}
ol li{
  width: 100%;
  height: 30vh;
  background: red;
  border-bottom: 0.3vw solid #000;
}
